<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664273619354-18viqr91ijg2r3gofi0cigplmusf52lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664273619354-18viqr91ijg2r3gofi0cigplmusf52lj</string>
	<key>API_KEY</key>
	<string>AIzaSyAbo1WI-t4b-Fmjp9m9cpz1xooopk3RViA</string>
	<key>GCM_SENDER_ID</key>
	<string>664273619354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.StdTask</string>
	<key>PROJECT_ID</key>
	<string>ow-my-e9534</string>
	<key>STORAGE_BUCKET</key>
	<string>ow-my-e9534.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664273619354:ios:75679a7705aae20328d223</string>
	<key>DATABASE_URL</key>
	<string>https://ow-my-e9534.firebaseio.com</string>
</dict>
</plist>